In [1]:
import pandas as pd

In [124]:
df = pd.read_excel('G:\INeuron_data_science_assignment\pokemon.xlsx')
df.head()

,Unnamed: 0,index,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,0,0,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71,6.9,Bulbasaur Candy,25,2 km,0.690,69,00:20:00,[1],"['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,1,1,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99,13.0,Bulbasaur Candy,100,Not in Eggs,0.042,4,00:07:00,"[1, 1]","['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,2,2,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01,100.0,Bulbasaur Candy,0,Not in Eggs,0.017,1,00:11:30,[],"['Fire', 'Ice', 'Flying', 'Psychic']",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,3,3,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61,8.5,Charmander Candy,25,2 km,0.253,25,00:08:45,[1],"['Water', 'Ground', 'Rock']","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
4,4,4,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09,19.0,Charmander Candy,100,Not in Eggs,0.012,1,00:19:00,[1],"['Water', 'Ground', 'Rock']","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [125]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           145 non-null    int64
 1   num             145 non-null    int64
 2   name            145 non-null    object
 3   img             145 non-null    object
 4   type            145 non-null    object
 5   height          145 non-null    float64
 6   weight          145 non-null    float64
 7   candy           145 non-null    object
 8   candy_count     145 non-null    int64
 9   egg             145 non-null    object
 10  spawn_chance    145 non-null    float64
 11  avg_spawns      145 non-null    int64
 12  spawn_time      145 non-null    object
 13  multipliers     145 non-null    object
 14  weaknesses      145 non-null    object
 15  next_evolution  70 non-null     object
 16  prev_evolution  72 non-null     object
dtypes: float64(3), int64(4), object(10)
memory usage: 19.4+ KB

In [127]:
df.isnull().sum()

index              0
num                0
name               0
img                0
type               0
height             0
weight             0
candy              0
candy_count        0
egg                0
spawn_chance       0
avg_spawns         0
spawn_time         0
multipliers        0
weaknesses         0
next_evolution    75
prev_evolution    73
dtype: int64

- Get all Pokemons whose spawn rate is less than 5%

In [128]:
df[df['spawn_chance'].values<0.5]['name']

1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
          ...
140    Aerodactyl
141       Snorlax
142       Dratini
143     Dragonair
144     Dragonite
Name: name, Length: 102, dtype: object

- Get all Pokemons that have less than 4 weaknesses

In [129]:
df[(df['weaknesses'].str.count(',').add(1))<4]['name']

3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
          ...
134       Flareon
135       Porygon
141       Snorlax
142       Dratini
143     Dragonair
Name: name, Length: 97, dtype: object

- Get all Pokemons that have no multipliers at all

In [130]:
#counting no. od empty list
flag=0
for i in df['multipliers']:
    if i == "[]":
        flag+=1
print(flag)

75

- Get all Pokemons that do not have more than 2 evolutions

- Get all Pokemons whose spawn time is less than 300 seconds

In [139]:
#calculate time in seconds from minutes:seconds
df['spawn_seconds'] = df['spawn_time'].apply(lambda x: float(x.split(':')[1])*60+float(x.split(':')[2]))
#get names of those who have spawn time less than 300
df[df['spawn_seconds']<300]['name']

6       Squirtle
8      Blastoise
10       Metapod
12        Weedle
13        Kakuna
         ...
127       Tauros
129     Gyarados
133      Jolteon
135      Porygon
138       Kabuto
Name: name, Length: 75, dtype: object

In [140]:
#dropping seconds column
df.drop('spawn_seconds',axis=1,inplace=True)

- Get all Pokemon who have more than two types of capabilities

In [141]:
df[(df['type'].str.count(',').add(1))>2]['name'] #their is no pokemon with more than 2 type

Series([], Name: name, dtype: object)